@model Finance.Models.Conta

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes Conta</h3>


    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Descricao</div>
    <div class="display-field">@Model.Descricao</div>

    <div class="display-label">SaldoAtual</div>
    <div class="display-field">@String.Format("{0:F}", Model.SaldoAtual)</div>

    <div class="display-label">Banco</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Banco).ToString()</div>

    <div class="display-label">Usuario</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Usuario).ToString()</div>

    <div class="display-label">TransferenciasComoOrigem</div>
    <div class="display-field">@(Model.TransferenciasComoOrigem == null ? "None" : Model.TransferenciasComoOrigem.Count.ToString())</div>

    <div class="display-label">TransferenciasComoDestino</div>
    <div class="display-field">@(Model.TransferenciasComoDestino == null ? "None" : Model.TransferenciasComoDestino.Count.ToString())</div>

    <div class="display-label">Receitas</div>
    <div class="display-field">@(Model.Receitas == null ? "None" : Model.Receitas.Count.ToString())</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.ContaId }, new { @class = "button tiny primary" })
    @Html.ActionLink("Voltar para listagem", "Indice")
</p>


