@model Finance.Models.Transferencia

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Valor)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Valor)
    @Html.ValidationMessageFor(model => model.Valor)
</div>

<div class="editor-label">
    ContaOrigem
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ContaOrigemId, ((IEnumerable<Finance.Models.Conta>)ViewBag.PossibleContaOrigem).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option.Nome).ToString(), 
        Value = option.ContaId.ToString(),
        Selected = (Model != null) && (option.ContaId == Model.ContaOrigemId)
    }), "Selecione um item...")
    @Html.ValidationMessageFor(model => model.ContaOrigemId)
</div>
<div class="editor-label">
    ContaDestino
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.ContaDestinoId, ((IEnumerable<Finance.Models.Conta>)ViewBag.PossibleContaDestino).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option.Nome).ToString(), 
        Value = option.ContaId.ToString(),
        Selected = (Model != null) && (option.ContaId == Model.ContaDestinoId)
    }), "Selecione um item...")
    @Html.ValidationMessageFor(model => model.ContaDestinoId)
</div>
