@*@using StackExchange.Profiling;
    @using StackExchange.Profiling.Mvc*@

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />

    @*Set the viewport width to device width for mobile *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title - Finance</title>

    @Styles.Render("~/Content/ink/css")

    <style type="text/css">

        body {
            background: #ededed;
        }

        header h1 small:before {
            content: "|";
            margin: 0 0.5em;
            font-size: 1.6em;
        }

        article header {
            padding: 0;
            overflow: hidden;
        }

        article footer {
            background: none;
        }

        article {
            padding-bottom: 2em;
            border-bottom: 1px solid #ccc;
        }

        .date {
            float: right;
        }

        summary {
            font-weight: 700;
            line-height: 1.5;
        }

        footer {
            background: #ccc;
        }
    </style>
</head>
<body>

    <div class="ink-grid">

        <!--[if lt IE 9 ]>
        <div class="ink-alert basic" role="alert">
            <button class="ink-dismiss">&times;</button>
            <p>
                <strong>You are using an outdated Internet Explorer version.</strong>
                Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
            </p>
        </div>
        <![endif]-->
        <!-- Add your site or application content here -->

        <header class="clearfix vertical-padding">

            <h1 class="logo xlarge-push-left large-push-left">
                Finance Ink
            </h1>

            <nav class="ink-navigation xlarge-push-right large-push-right half-top-space">
                <ul class="menu horizontal black">
                    <li>@Html.ActionLink("Transferencias", "Indice", "Transferencia")</li>
                </ul>
            </nav>

        </header>

        <div class="column-group large-half-horizontal-gutters">
            <div class="all-100">
                @RenderBody()
            </div>
        </div>

    </div>

    @*<footer class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </footer>*@

    @Scripts.Render("~/bundles/ink")

    @*Use the Scripts section to define page specific scripts*@
    @RenderSection("scripts", required: false)
    @*@MiniProfiler.Current.RenderIncludes(position: RenderPosition.Right, showTrivial: false, showTimeWithChildren: false, startHidden: false)*@
</body>
</html>