@model Finance.Models.Despesa

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes Despesa</h3>


    <div class="display-label">Descricao</div>
    <div class="display-field">@Model.Descricao</div>

    <div class="display-label">Valor</div>
    <div class="display-field">@String.Format("{0:F}", Model.Valor)</div>

    <div class="display-label">DespesaCategoria</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.DespesaCategoria.Nome).ToString()</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.DespesaId }, new { @class = "button tiny primary" })
    @Html.ActionLink("Voltar para listagem", "Indice")
</p>


