@model IEnumerable<Finance.Models.Banco>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioModificacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioCriacao)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaModificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioModificacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCriacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioCriacao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.BancoId }) |
                @Html.ActionLink("Details", "Details", new { id=item.BancoId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.BancoId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
