@model IEnumerable<Finance.Models.Conta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Banco.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaldoAtual)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Banco.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaldoAtual)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ContaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ContaId })
        </td>
    </tr>
}

</table>
