@model IEnumerable<Finance.Models.Transferencia>

@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Nome", new { @class = "control-label col-md-1" })
        <div class="col-md-2">
            @Html.TextBox("nome")
        </div>
        <div>
            @Html.Button("Buscar", new { @class = "class=btn btn-primary" })
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ContaDestino.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContaOrigem.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContaDestino.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContaOrigem.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TransferenciaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TransferenciaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TransferenciaId })
            </td>
        </tr>
    }

</table>
