@model IEnumerable<Finance.Models.Transferencia>

@{

    ViewBag.Title = "Indice";
}

<h2>Indice</h2>

<p>
    @Html.ActionLink("Criar Novo", "Criar", new { }, new { @class = "button tiny primary" })
</p>
<table>
    <thead>
        <tr>
            <th>
                Valor
            </th>
            <th>
                ContaOrigem
            </th>
            <th>
                ContaDestino
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @String.Format("{0:F}", item.Valor)
            </td>
            <td>
                @Html.DisplayTextFor(_ => item.ContaOrigem.Nome).ToString()
            </td>
            <td>
                @Html.DisplayTextFor(_ => item.ContaDestino.Nome).ToString()
            </td>

            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.TransferenciaId }, new { @class = "button tiny primary" })
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.TransferenciaId }, new { @class = "button tiny secondary" })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.TransferenciaId }, new { @class = "button tiny alert" })
            </td>
        </tr>
    }

</table>


