@model Finance.Models.Receita

@{
    /**/

    ViewBag.Title = "Excluir";
}

<h3>Excluir Receita</h3>

<h3>Tem certeza que deseja excluir?</h3>

<legend>Receita</legend>

<div class="display-label">Descricao</div>
<div class="display-field">@Model.Descricao</div>

<div class="display-label">Valor</div>
<div class="display-field">@String.Format("{0:F}", Model.Valor)</div>

<div class="display-label">Banco</div>
<div class="display-field">@Html.DisplayTextFor(_ => Model.Banco.Nome).ToString()</div>

<div class="display-label">ReceitaCategoria</div>
<div class="display-field">@Html.DisplayTextFor(_ => Model.ReceitaCategoria.Nome).ToString()</div>

@using (Html.BeginForm())
{
    <p>
        <input class="tiny alert button" type="submit" value="Excluir" />
        @Html.ActionLink("Voltar para listagem", "Indice")
    </p>
}


