@model Finance.Models.Banco

@{
    ViewBag.Title = "Detalhes";
}

<h3>Detalhes Banco</h3>


    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Contas</div>
    <div class="display-field">@(Model.Contas == null ? "None" : Model.Contas.Count.ToString())</div>

    <div class="display-label">UltimaModificacao</div>
    <div class="display-field">@String.Format("{0:g}", Model.UltimaModificacao)</div>

    <div class="display-label">UsuarioModificacao</div>
    <div class="display-field">@Model.UsuarioModificacao</div>

    <div class="display-label">DataCriacao</div>
    <div class="display-field">@String.Format("{0:g}", Model.DataCriacao)</div>

    <div class="display-label">UsuarioCriacao</div>
    <div class="display-field">@Model.UsuarioCriacao</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.BancoId }, new { @class = "button tiny primary" })
    @Html.ActionLink("Voltar para listagem", "Indice")
</p>


