@model Finance.Models.Banco

@{
    ViewBag.Title = "Excluir";
}

<h3>Excluir Banco</h3>

<h3>Tem certeza que deseja excluir?</h3>

    <legend>Banco</legend>

    <div class="display-label">Nome</div>
    <div class="display-field">@Model.Nome</div>

    <div class="display-label">Contas</div>
    <div class="display-field">@(Model.Contas == null ? "None" : Model.Contas.Count.ToString())</div>

    <div class="display-label">DataCriacao</div>
    <div class="display-field">@String.Format("{0:dd/MM/yyyy}", Model.DataCriacao)</div>

    <div class="display-label">UsuarioCriacao</div>
    <div class="display-field">@Model.UsuarioCriacao</div>

@using (Html.BeginForm()) {
    <p>
        <input class="tiny alert button" type="submit" value="Excluir" />
        @Html.ActionLink("Voltar para listagem", "Indice")
    </p>
}


